<h1 mat-dialog-title>Login</h1>
<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="password" [(ngModel)]="password">
  </mat-form-field>
  <div class="error" *ngIf="error">{{ error }}</div>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="dialogRef.close()">
    Cancel
  </button>
  <button mat-flat-button color="primary" class="btn-submit" (click)="login()">
    Login
  </button>
</div>