:host.no-border .table-wrapper {
  border-width: 0;
}

.table-wrapper {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);

  .header-row {

    .col {
      font-size: 13px;
      line-height: 28px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 4px 7px;
    }
  }

  .col {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 1px 1px 0;
    padding: 4px 3px;

    &:last-child {
      border-width: 0 0 1px 0;
    }
  }

  .row {

    &.is-focused {
      background-color: #fafafa;
    }

    &.is-disabled {

      .data-input {
        color: #888;
      }
    }

    .btn-delete {
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin-left: 5px;

      .mat-icon {
        font-size: 17px;
      }
    }

    &:not(:hover) {

      .btn-delete {
        display: none;
      }
    }
  }

  .col.col-select {
    width: 30px;

    .mat-checkbox ::ng-deep .mat-checkbox-ripple {
      left: calc(50% - 15px);
      top: calc(50% - 15px);
      height: 30px;
      width: 30px;
    }
  }

  .data-input {
    border-color: rgba(0, 0, 0, 0.12);

    &:not(:focus) {
      border-color: transparent;
      background-color: transparent;
      text-overflow: ellipsis;
    }
  }

  .btn-add-row .mat-icon {
    font-size: 21px;
  }
}