<div class="table-wrapper" *ngIf="data">
  <div fxLayoutAlign=" none" class="header-row">
    <div class="col col-select"></div>
    <div
      fxFlex
      class="col"
      *ngFor="let col of cols"
    >
      {{col.text}}
    </div>
  </div>

  <div
    fxLayoutAlign=" none"
    *ngFor="let row of data; index as index"
    class="row"
    [class.is-focused]="focusedRowId === index"
    [class.is-disabled]="row.disabled"
  >
    <div class="col col-select" fxLayoutAlign="center center">
      <mat-checkbox *ngIf="!readonly" [ngModel]="!row.disabled" (ngModelChange)="row.disabled = !row.disabled; onTableUpdated()"></mat-checkbox>
    </div>

    <div
      fxFlex
      fxLayoutAlign=" center"
      class="col"
      *ngFor="let col of cols; last as last"
    >
      <input
        type="text"
        fxFlex
        [disabled]="readonly"
        [(ngModel)]="row[col.key]"
        (ngModelChange)="onTableUpdated()"
        class="data-input"
        (focus)="focusedRowId = index"
        (focusout)="focusedRowId = undefined"
      />

      <button
        *ngIf="!readonly && last"
        mat-icon-button
        color="warn"
        class="btn-delete"
        (click)="deleteRow(index)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <button
    *ngIf="!readonly"
    mat-button
    color="primary"
    class="btn-add-row"
    (click)="addRow()"
  >
    <mat-icon>add</mat-icon> Add Row
  </button>
</div>