.tab-body-wrapper {
  padding: 15px;

  .mat-radio-group {
    display: block;
    margin-bottom: 15px;

    ::ng-deep .mat-radio-button {
      margin-right: 20px;
    }
  }

  .no-body {
    text-align: center;
    line-height: 30px;
    color: #888;
  }

  .body-json {

    textarea {
      margin-top: 6px;
    }
  }
}

.mat-icon.green-dot{
  font-size: 12px;
  height: 12px;
  color: green;
}