<mat-tab-group
  [animationDuration]="0"
  [selectedIndex]="activeTabIndex"
  (selectedIndexChange)="changeTab($event)"
>
  <mat-tab [label]="'Params (' + (request.params ? request.params.length : 0) + ')'">
    <ui-key-value-data-table
      class="no-border"
      [data]="request.params ? request.params : requestParams"
      (dataUpdated)="onRequestUpdated()"
    ></ui-key-value-data-table>
  </mat-tab>

  <mat-tab [label]="'Headers (' + (request.headers ? request.headers.length : 0) + ')'">
    <ui-key-value-data-table
      class="no-border"
      [data]="request.headers ? request.headers : requestHeaders"
      (dataUpdated)="onRequestUpdated()"
    ></ui-key-value-data-table>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Body <mat-icon *ngIf="request.body" class="green-dot">fiber_manual_record</mat-icon>
    </ng-template>
    <div class="tab-body-wrapper">
      <mat-radio-group [ngModel]="request.body ? request.body.mode : 'none'" (ngModelChange)="requestBodyChanged($event)">
        <mat-radio-button value="none">None</mat-radio-button>
        <mat-radio-button value="json">JSON</mat-radio-button>
        <mat-radio-button value="form-data">form-data</mat-radio-button>
        <mat-radio-button value="urlencoded">x-www-form-urlencoded</mat-radio-button>
      </mat-radio-group>

      <ng-container [ngSwitch]="request.body ? request.body.mode : ''">
        <div class="body-json" *ngSwitchCase="'json'">
          <div>JSON Validity: {{ checkJsonValidity(request.body.jsonString ? request.body.jsonString : requestBody.jsonString) ? 'OK' : 'Invalid' }}</div>
          <textarea
            rows="12"
            [ngModel]="request.body.jsonString ? request.body.jsonString : requestBody.jsonString"
            (ngModelChange)="updateRequestBodyJson($event)"
          ></textarea>
        </div>

        <ui-key-value-data-table
          *ngSwitchCase="'form-data'"
          [data]="request.body.formdata ? request.body.formdata : requestBody.formdata"
          (dataUpdated)="requestBodyChanged(request.body.mode)"
        ></ui-key-value-data-table>

        <ui-key-value-data-table
          *ngSwitchCase="'urlencoded'"
          [data]="request.body.urlencoded ? request.body.urlencoded : requestBody.urlencoded"
          (dataUpdated)="requestBodyChanged(request.body.mode)"
        ></ui-key-value-data-table>

        <div class="no-body" *ngSwitchDefault>This request does not have a body</div>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Tests <mat-icon *ngIf="requestTests && requestTests.length > 0" class="green-dot">fiber_manual_record</mat-icon>
    </ng-template>
    <ui-key-value-data-table
      class="no-border"
      [data]="requestTests"
      [cols]="testsCols"
      (dataUpdated)="onRequestTestsUpdated()"
    ></ui-key-value-data-table>
  </mat-tab>
</mat-tab-group>