<h1 mat-dialog-title>{{data.headerText}}</h1>
<div mat-dialog-content *ngIf="data.confirmText">
  <p class="confirmation-text">{{data.confirmText}}</p>
</div>
<div mat-dialog-actions>
  <button
    *ngIf="data.discardButtonText"
    mat-flat-button
    mat-dialog-close='discard'
    color="accent"
    class="btn-discard"
  >
    {{data.discardButtonText}}
  </button>
  
  <button
    mat-button
    mat-dialog-close='cancel'
    cdkFocusInitial
  >
    Cancel
  </button>
  <button
    mat-flat-button
    mat-dialog-close='confirm'
    color="primary"
    class="btn-submit"
  >
    {{data.confirmButtonText ? data.confirmButtonText : 'Confirm'}}
  </button>
</div>