<div *ngIf="response; else noResponse">
  <mat-tab-group
    class="response-tabs"
    [animationDuration]="0"
    [selectedIndex]="activeTabIndex"
    (selectedIndexChange)="changeTab($event)"
  >
    <mat-tab label="Body">
      <div class="response-body">
        <div fxLayoutAlign=" center" class="actions-row">
          <div>Response</div>

          <div fxLayoutAlign="space-around center" class="type-buttons">
            <mat-button-toggle-group appearance="legacy" [value]="bodyType" (change)="changeBodyType($event.value)">
              <mat-button-toggle value="json">JSON</mat-button-toggle>
              <mat-button-toggle value="raw">Raw</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <button mat-flat-button color="accent" [cdkCopyToClipboard]="bodyText" (cdkCopyToClipboardCopied)="copyToClipSuccess()">
            <mat-icon>file_copy</mat-icon> Copy to Clipboard
          </button>
        </div>
        <textarea rows="18" readonly [value]="bodyText"></textarea>
      </div>
    </mat-tab>

    <mat-tab [label]="'Headers (' + (response.headers ? response.headers.length : 0) + ')'">
      <ui-key-value-data-table
        class="no-border"
        [data]="response.headers ? response.headers : []"
        [readonly]="true"
      ></ui-key-value-data-table>
    </mat-tab>

    <mat-tab [label]="'Cookies (' + (response.cookies ? response.cookies.length : 0) + ')'">
      <div class="cookie-table-wrapper">
        <div fxLayoutAlign=" none" class="header-row">
          <div class="col col-select"></div>
          <div
            class="col"
            *ngFor="let colName of cookieTableCols"
          >
            {{colName}}
          </div>
        </div>

        <ng-container *ngIf="response.cookies && response.cookies.length > 0">
          <div
            fxLayoutAlign=" none"
            *ngFor="let row of response.cookies"
            class="row"
          >
            <div class="col col-select"></div>

            <div
              fxLayoutAlign=" center"
              class="col"
              *ngFor="let colName of cookieTableCols"
            >
              <div class="content">{{row[colName]}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab>

    <mat-tab
      disabled
      [label]="'Status: ' + response.status + ' |  Time: ' + response.time + ' ms | Size: ' + response.size + ' B'"
    ></mat-tab>
  </mat-tab-group>
</div>

<ng-template #noResponse>
  <div class="no-response">No Response</div>
  <mat-divider></mat-divider>
</ng-template>