.response-tabs ::ng-deep .mat-tab-label.mat-tab-disabled {
  color: rgba(black, .87);
  margin-left: auto;
}

.response-body {
  padding: 15px;

  .actions-row {
    padding-bottom: 15px;

    .mat-button-toggle-group {
      margin: 0 20px;
      box-shadow: none;
      background-color: white;
    }
  }

  textarea {
    font-size: 16px;
    padding: 7px 10px;
  }
}

.cookie-table-wrapper {
  background-color: white;

  .header-row {

    .col {
      font-size: 13px;
      line-height: 28px;
      font-weight: 500;
      text-transform: capitalize;
      padding: 4px 7px;
    }
  }

  .col {
    width: calc((100% - 30px) / 4);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 0 1px 1px 0;
    padding: 10px 7px;

    .content {
      width: 100%;
      word-break: break-all;
      overflow: auto;
      max-height: 100px;
    }
    

    &:last-child {
      border-width: 0 0 1px 0;
    }

    &.col-select {
      width: 30px;
    }
  }
}

.no-response {
  line-height: 48px;
  color: #888;
  padding: 0 15px;
}