<h1 mat-dialog-title>Environment Variables</h1>
<div mat-dialog-content>
  <ui-key-value-data-table
    [data]="data.envVariables"
  ></ui-key-value-data-table>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    cdkFocusInitial
    (click)="dialogRef.close()"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    [mat-dialog-close]="data.envVariables"
    color="primary"
    class="btn-submit"
  >
    Save
  </button>
</div>