$method-colors: get #34b886, put blue, post #ffb400, delete red, patch grey;

.collection-tree {

  ul,
  li {
    list-style-type: none;
  }

  ul {
    padding-left: 18px;
  }

  .rename-input {
    width: 100%;
    height: 24px;
  }

  .mat-tree-node {
    min-height: 0;
    padding: 3px 5px 3px 0;
    width: 100%;
    cursor: pointer;

    &.is-selected {
      background-color: rgba(black, 0.08);
    }

    .node-name-wrapper {
      width: 1px;
      padding-right: 5px;

      .is-ellipsis {
        line-height: 24px;
      }
    }
  }

  .leaf-node {
    padding-left: 13px;
    line-height: 25px;
    cursor: pointer;
    width: 100%;
  }

  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .method-name {
    font-size: 10px;
    padding-right: 8px;
    font-weight: 500;

    @each $method in $method-colors {
      $key: nth($method, 1);
      $value: nth($method, 2);

      &.#{$key} {
        color: $value;
      }
    }
  }

  .total-requests {
    font-size: 13px;
    color: #888;
    margin-bottom: 4px;
  }

  .folder-icon {
    padding-right: 8px;
  }
}

::ng-deep {
    
  .mat-menu {

    button {
      display: block;
      width: 100%;
      text-align: left;
      line-height: 45px;
    }

    .custom-icon {
      font-size: 10px;
      padding: 3px;
      border-radius: 3px;
      background-color: #000000;
      color: white;
      margin-right: 2px;
    }
  }
}