<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="collection-tree"
  *ngIf="collection"
>
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    [class.is-selected]="node.id === selectedRequestId"
  >
    <li
      fxFlex
      fxLayoutAlign=" center"
      class="leaf-node"
    >
      <!-- use a disabled button to provide padding for tree leaf -->
      <div fxFlex fxLayoutAlign=" center" (click)="selectRequest(node)" class="node-name-wrapper">
        <div class="method-name" [ngClass]="node.request.method.toLowerCase()">{{node.request.method === 'DELETE' ? 'DEL' : node.request.method}}</div>
        <div
          fxFlex
          class="is-ellipsis"
        >
          {{node.name}}
        </div>
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="requestMenu"
        (menuOpened)="saveNodeName()"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
    </li>

    <mat-menu #requestMenu="matMenu" class="mat-menu">
      <button mat-button (click)="duplicateNode(node)">
        <mat-icon>file_copy</mat-icon> Duplicate
      </button>
      <button mat-button (click)="deleteNode(node)">
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-menu>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button
          mat-icon-button
          matTreeNodeToggle
          (click)="toggleNode(node.id)"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{isNodeExpanded(node.id) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <div fxFlex fxLayoutAlign=" center" (click)="toggleNode(node.id)">
          <div class="folder-icon">
            <mat-icon>{{node.id === rootNodeId ? 'folder_special' : 'folder'}}</mat-icon>
          </div>

          <div fxFlex class="node-name-wrapper">
            <div *ngIf="!nodeInEdit || nodeInEdit.id !== node.id; else nodeNameInput" class="is-ellipsis">{{node.name}}</div>
            <div *ngIf="node.id === rootNodeId" class="total-requests">Total Requests: {{totalRequests}}</div>
          </div>
        </div>

        <button
          #menuTriggerFolder="matMenuTrigger"
          mat-icon-button
          [matMenuTriggerFor]="folderMenu"
          (menuOpened)="saveNodeName()"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>

      <mat-divider *ngIf="node.id === rootNodeId"></mat-divider>
      
      <ul *ngIf="isNodeExpanded(node.id)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>

    <mat-menu #folderMenu="matMenu" class="mat-menu">
      <button mat-button (click)="updateEnvironmentVariables()" *ngIf="node.id === rootNodeId">
        <span class="custom-icon" ngNonBindable>{{ }}</span> Environment Variables
      </button>
      <button mat-button (click)="addRequest(node.id)">
        <span class="custom-icon">REQ</span> Add Request
      </button>
      <button mat-button (click)="addFolder(node.id)">
        <mat-icon>create_new_folder</mat-icon> Add Folder
      </button>
      <button mat-button (click)="renameNode(node, $event); menuTriggerFolder.closeMenu()">
        <mat-icon>text_format</mat-icon> Rename
      </button>
      <ng-container *ngIf="node.id !== rootNodeId">
        <button mat-button (click)="duplicateNode(node)">
          <mat-icon>file_copy</mat-icon> Duplicate
        </button>
        <button mat-button (click)="deleteNode(node)">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </ng-container>
    </mat-menu>
  </mat-nested-tree-node>
</mat-tree>

<ng-template #nodeNameInput>
  <input
    type="text"
    required
    class="rename-input"
    [(ngModel)]="nodeInEdit.name"
    (click)="$event.stopPropagation()"
    uiClickOutside
    (clickOutside)="saveNodeName()"
  />
</ng-template>