<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
>
  <mat-toolbar color="primary">
    <div>Soda Pop Postman</div>
    <!--
    <div fxFlex></div>
    <button *ngIf="!isLoggedIn" mat-raised-button (click)="openLoginDialog()">Login</button>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()">Logout</button>
    -->
  </mat-toolbar>
  <div
    fxFlex
    fxLayoutAlign="start stretch"
    uiSplit
    [splitFlexLayout]="true"
  >
    <div
      class="mat-drawer-side"
      uiSplitArea
      [splitSize]="25"
    >
      <div class="collection-action-btns">
        <input
          #fileInput
          hidden
          type="file"
          accept="application/json"
          (change)="importFileSelected($event)"
        />
        <button mat-flat-button color="accent" (click)="createNewCollection()">
          <mat-icon >create_new_folder</mat-icon> New
        </button>
        <button mat-flat-button color="warn" (click)="importCollection()">
          <mat-icon>insert_drive_file</mat-icon> Import
        </button>
        <button mat-flat-button color="warn" (click)="exportCollection()" [disabled]="(collection$ | async) === null">
          <mat-icon>save</mat-icon> Export
        </button>
      </div>
      <mat-divider></mat-divider>

      <ng-container *ngIf="errorText$ | async as errorText">
        <div class="error-text" [innerHTML]="errorText"></div>
        <mat-divider></mat-divider>
      </ng-container>

      <ui-collection-tree
        [collection]="collection$ | async"
        [totalRequests]="totalRequests$ | async"
        [selectedRequestId]="(selectedRequest$ | async)?.id"
      ></ui-collection-tree>
    </div>

    <ui-request-panel
      fxFlex
      class="right-panel"
      uiSplitArea
      [splitSize]="75"
      [apiRequest]="selectedRequest$ | async"
      [isRequestDirty]="isSelectedRequestDirty$ | async"
      [isSendingRequest]="isSendingRequest$ | async"
    ></ui-request-panel>
  </div>
</div>