.container {
  width: 100%;
  height: 100%;
}

.mat-drawer-side {
  max-width: 45%;
  min-width: 350px;
  background-color: #ffffff;

  .error-text {
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
  }
}

.right-panel {
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #fafafa;
}

.collection-action-btns {
  padding: 10px 9px;

  button {
    margin: 0 7px;
  }
}