<div class="container" fxLayout="column" fxLayoutAlign="start stretch" [class.hidden]="isContainerHidden">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Soda Pop UI</span>
      <span fxFlex></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <ui-public-data></ui-public-data>
  </div>
</div>