.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.list-header {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  color: gray;
  cursor: default;
}

mat-sidenav {
  width: 20%;
  min-width: 250px;
  padding: 10px 0;
  button {
    padding: 10px;
  }
  mat-icon {
    padding: 0 10px;
  }
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: lightgray;
}

.mat-button-responsive {
  font-size: 14px;
}

@media all and (max-width: 719px) {
  .hide-on-small-screen {
    display: none;
  }
}

@media all and (min-width: 720px) {
  .hide-on-large-screens {
    display: none;
  }
}

.hidden {
  display: none;
}