<div
  *ngIf="apiRequestLocal; else noRequestSelected"
  class="container"
  fxLayout="column"
  [class.is-dirty]="isRequestDirty"
>
  <div class="request-name-wrapper">
    <div class="name-wrapper" fxLayoutAlign=" center">
      <button mat-icon-button (click)="isDescriptionExpanded = !isDescriptionExpanded">
        <mat-icon>{{isDescriptionExpanded ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
      </button>

      <input
        *ngIf="nameInEdit"
        #reqName
        fxFlex
        required
        type="text"
        [(ngModel)]="apiRequestLocal.name"
        class="name-input"
        uiClickOutside
        (clickOutside)="saveRequestName()"
      />
      <ng-container *ngIf="!nameInEdit">
        <div class="is-ellipsis name" (click)="setNameInEdit($event)">{{apiRequestLocal.name}}</div>
        <button mat-icon-button class="btn-edit" (click)="setNameInEdit($event)">
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
    </div>

    <div class="description-wrapper" *ngIf="isDescriptionExpanded">
      <ng-container *ngIf="!descriptionInEdit">
        <button
          *ngIf="!apiRequestLocal.description"
          mat-button
          color="primary"
          class="btn-add-description"
          (click)="setDescriptionInEdit($event)"
        >
          Add Description
        </button>

        <div *ngIf="apiRequestLocal.description" fxLayoutAlign=" start">
          <div class="description" (click)="setDescriptionInEdit($event)">{{apiRequestLocal.description}}</div>
          <button mat-icon-button class="btn-edit" (click)="setDescriptionInEdit($event)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </ng-container>

      <textarea
        *ngIf="descriptionInEdit"
        #reqDescription
        rows="5"
        [(ngModel)]="apiRequestLocal.description"
        uiClickOutside
        (clickOutside)="saveDescription()"
      ></textarea>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="request-toolbar" fxLayoutAlign=" center">
    <div class="request-fields-wrapper" fxFlex fxLayoutAlign=" center">
      <mat-select
        matNativeControl
        fxFlex="20"
        [(ngModel)]="apiRequestLocal.request.method"
        (ngModelChange)="updateApiRequest()"
        panelClass="request-method"
      >
        <mat-option disabled>METHOD</mat-option>
        <mat-option *ngFor="let method of requestMethods" [value]="method">{{method}}</mat-option>
      </mat-select>

      <input
        fxFlex
        type="text"
        class="request-url-input"
        [(ngModel)]="apiRequestLocal.request.url"
        (ngModelChange)="updateApiRequest()"
      />
    </div>

    <button
      mat-flat-button
      color="primary"
      [disabled]="apiRequestLocal.request.url.trim() === ''"
      (click)="sendApiRequest()"
    >
      <mat-icon>send</mat-icon> Send
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isRequestDirty"
      (click)="saveApiRequest()"
    >
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
  <mat-divider></mat-divider>

  <ui-request-section
    [request]="apiRequestLocal.request"
    [requestTests]="apiRequestLocal.tests ? apiRequestLocal.tests : testsData"
    [(activeTabIndex)]="requestActiveTabIndex"
    (requestUpdated)="updateApiRequest()"
    (testsUpdated)="updateApiTests()"
  ></ui-request-section>
  <mat-divider></mat-divider>

  <div fxFlex class="response-section">
    <ui-response-section
      [response]="apiRequestLocal.response"
      [(activeTabIndex)]="responseActiveTabIndex"
    >
    </ui-response-section>
    
    <div
      *ngIf="isSendingRequest"
      class="sending-request-overlay"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h3>Sending Request ...</h3>
      <button mat-flat-button class="btn-cancel" (click)="cancelApiRequest()">Cancel</button>
    </div>
  </div>
  
</div>

<ng-template #noRequestSelected>
  <div
    fxFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="no-api-selected"
  >
    <mat-icon aria-hidden="false" aria-label="No API selected" class="icon">arrow_back</mat-icon>
    Select a Request
  </div>
</ng-template>