.container {
  position: relative;
  height: 100%;

  &.is-dirty:before {
    content: "*";
    position: absolute;
    top: 10px;
    left: 5px;
    color: red;
    font-size: 20px;
    font-weight: 500;
  }
}

.request-name-wrapper {
  padding: 15px 15px 5px 0;

  .btn-edit {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;

    .mat-icon {
      font-size: 18px;
    }
  }

  .name-wrapper {

    .name {
      max-width: calc(100% - 80px);
    }
  
    .name-input {
      max-width: 500px;
    }
  }
  
  .description-wrapper {
    padding: 6px 0 10px 40px;
  
    .btn-add-description {
      padding: 0 2px;
      line-height: 24px;
    }
  
    .description {
      max-width: calc(100% - 40px);
      white-space: pre-wrap;
    }
  
    .btn-edit {
      top: -6px;
    }
  }
}

.request-toolbar {
  padding: 10px 15px;

  .request-fields-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    height: 36px;
    background-color: white;
    padding-right: 15px;

    ::ng-deep .mat-select-trigger {
      padding: 6px 5px 6px 15px;
    }

    .request-url-input {
      height: 100%;
      border: none;
      border-left: 1px solid black;
      padding-left: 10px;
    }
  }

  button {
    margin-left: 15px;
  }
}

.no-api-selected {
  font-weight: 500;
  font-size: 38px;
  color: #434343;

  .icon {
    width: 128px;
    height: 128px;
    font-size: 128px;
  }
}

.response-section {
  position: relative;

  .sending-request-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;

    .btn-cancel {
      margin-top: 10px;
      width: 150px;
      background-color: #f0f0f0;
    }
  }
}

::ng-deep {

  .mat-select-panel.request-method {
    min-width: calc(100% + 12px);

    .mat-option {
      height: 40px;
      line-height: 40px;
    }
  }
}