
<mat-card fxLayout="column" fxLayoutAlign="start stretch">
    <h1>Location Search | LatLong | V2</h1>
    <mat-divider class="margin-bottom"></mat-divider>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput placeholder="Ex: London" [(ngModel)]="locationString">
        </mat-form-field>
    <button mat-raised-button (click)="performLocationSearch()" color="primary">
        <span>Submit</span>
    </button>
    <mat-divider class="margin"></mat-divider>
    <h2>RESPONSE</h2>
    <pre>{{ response }}</pre>
    <button mat-raised-button (click)="clearResponseLogs()" color="primary">
        <span>Clear</span>
    </button>
    <mat-divider class="margin"></mat-divider>
    <h2>LOG</h2>
    <pre>{{ dataLog }}</pre>
    <button mat-raised-button (click)="clearDataLogs()" color="primary">
        <span>Clear</span>
    </button>
</mat-card>
