mat-card {
    margin: 10px;
}

pre {
    min-height: 50px;
    background: #444444;
    color: white;
    border: 2px solid black;
    overflow: scroll;
    padding: 0 10px 10px 10px;
}


mat-divider {
    position: unset !important;
    &.margin {
        margin-top: 30px;
    }
    &.margin-bottom {
        margin-bottom: 20px;
    }
}